@font-face {
  font-family: NationalPark;
  font-weight: 400;
  font-style: normal;
  src: url('NationalPark-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: NationalPark;
  font-weight: 200;
  font-style: normal;
  src: url('NationalPark-Thin.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: NationalPark;
  font-weight: 700;
  font-style: normal;
  src: url('NationalPark-Heavy.woff') format('woff');
  font-display: swap;
}
